# Local kube/talos client configs
*kubeconfig
kubeconfig*
*talosconfig
talosconfig*

# Local helper file used during initial homelab manifest generation
overlay/management/homelab/Makefile

# Local SOPS age private key material
install/sops-age.key
