apiVersion: argoproj.io/v1alpha1
kind: EventSource
metadata:
  name: capi-kubeconfig
  namespace: argo-events
spec:
  template:
    serviceAccountName: capi-argocd-bridge
  service:
    ports:
      - port: 12000
        targetPort: 12000
  resource:
    kubeconfig-upsert:
      group: ""
      version: v1
      resource: secrets
      eventTypes:
        - ADD
        - UPDATE
    kubeconfig-delete:
      group: ""
      version: v1
      resource: secrets
      eventTypes:
        - DELETE
