apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argo-events
resources:
  - serviceaccount.yaml
  - rbac.yaml
  - event-source-capi-kubeconfig.yaml
  - sensor-capi-argocd-bridge.yaml
