apiVersion: v1
kind: ConfigMap
metadata:
  name: dex
  namespace: dex
data:
  config.yaml: |
    issuer: https://dex.homelab.ntbc.io
    storage:
      type: kubernetes
      config:
        inCluster: true
    web:
      http: 0.0.0.0:5556
    telemetry:
      http: 0.0.0.0:5558
    connectors:
      - type: google
        id: google
        name: Google
        config:
          clientID: $GOOGLE_CLIENT_ID
          clientSecret: $GOOGLE_CLIENT_SECRET
          redirectURI: https://dex.homelab.ntbc.io/callback
    oauth2:
      skipApprovalScreen: true
    staticClients:
      - id: argocd
        name: Argo CD
        redirectURIs:
          - https://argocd.homelab.ntbc.io/auth/callback
        secretEnv: ARGOCD_OIDC_CLIENT_SECRET
      - id: argo-workflows
        name: Argo Workflows
        redirectURIs:
          - https://argoworkflows.homelab.ntbc.io/oauth2/callback
        secretEnv: ARGO_WORKFLOWS_OIDC_CLIENT_SECRET
      - id: grafana
        name: Grafana
        redirectURIs:
          - https://grafana.homelab.ntbc.io/login/generic_oauth
        secretEnv: GRAFANA_OIDC_CLIENT_SECRET
      - id: prometheus
        name: Prometheus
        redirectURIs:
          - https://prometheus.homelab.ntbc.io/oauth2/callback
        secretEnv: PROMETHEUS_OIDC_CLIENT_SECRET
      - id: alertmanager
        name: Alertmanager
        redirectURIs:
          - https://alertmanager.homelab.ntbc.io/oauth2/callback
        secretEnv: ALERTMANAGER_OIDC_CLIENT_SECRET
