apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dex
resources:
  - namespace.yaml
  - serviceaccount.yaml
  - rbac.yaml
  - configmap.yaml
  - service.yaml
  - deployment.yaml
  - httproute.yaml

generators:
  - dex-oidc-secrets-generator.yaml
  - dex-grafana-oidc-secret-generator.yaml
  - dex-monitoring-oidc-secrets-generator.yaml
