apiVersion: bootstrap.cluster.x-k8s.io/v1alpha3
kind: TalosConfigTemplate
metadata:
  name: homelab-workers-v1-12-4-1
  annotations:
    argocd.argoproj.io/sync-wave: "-2"
spec:
  template:
    spec:
      strategicPatches:
        - |
          cluster:
            network:
              cni:
                name: none
            proxy:
              disabled: true
          machine:
            features:
              kubePrism:
                enabled: true
                port: 7445
            kernel:
              modules:
                - name: drbd
                  parameters:
                    - usermode_helper=disabled
                - name: drbd_transport_tcp
            install:
              image: factory.talos.dev/metal-installer/21673c24c2599d637798768b9b706349ca91161583257179df72d775af9348c0:v1.12.4
            kubelet:
              extraArgs:
                rotate-server-certificates: true
            network:
              disableSearchDomain: true
              interfaces:
                - deviceSelector:
                    physical: true
                  dhcp: true
      generateType: join
      talosVersion: v1.12.4
