apiVersion: bootstrap.cluster.x-k8s.io/v1alpha3
kind: TalosConfigTemplate
metadata:
  name: homelab-workers-v1-12-2
spec:
  template:
    spec:
      strategicPatches:
        - |
          cluster:
            network:
              cni:
                name: none
            proxy:
              disabled: true
          machine:
            features:
              kubePrism:
                enabled: true
                port: 7445
            install:
              image: factory.talos.dev/installer/797d93756de3d25be5830c940abc717e72ca4c7130c70ab292b7a337888f322a:v1.12.2
            kubelet:
              extraArgs:
                rotate-server-certificates: true
            network:
              disableSearchDomain: true
              interfaces:
                - deviceSelector:
                    physical: true
                  dhcp: true
      generateType: join
      talosVersion: v1.12.2
