apiVersion: bootstrap.cluster.x-k8s.io/v1alpha3
kind: TalosConfigTemplate
metadata:
  name: homelab-workers-v1-12-2-1
  annotations:
    argocd.argoproj.io/sync-wave: "-2"
spec:
  template:
    spec:
      strategicPatches:
        - |
          cluster:
            network:
              cni:
                name: none
            proxy:
              disabled: true
          machine:
            features:
              kubePrism:
                enabled: true
                port: 7445
            kernel:
              modules:
                - name: drbd
                  parameters:
                    - usermode_helper=disabled
                - name: drbd_transport_tcp
            install:
              image: factory.talos.dev/installer/e048aaf4461ff9f9576c9a42f760f2fef566559bd4933f322853ac291e46f238:v1.12.2
            kubelet:
              extraArgs:
                rotate-server-certificates: true
            network:
              disableSearchDomain: true
              interfaces:
                - deviceSelector:
                    physical: true
                  dhcp: true
      generateType: join
      talosVersion: v1.12.2
