apiVersion: bootstrap.cluster.x-k8s.io/v1alpha3
kind: TalosConfigTemplate
metadata:
  name: homelab-compute-gpu-v1-12-4-1
  annotations:
    argocd.argoproj.io/sync-wave: "-2"
spec:
  template:
    spec:
      strategicPatches:
        - |
          cluster:
            network:
              cni:
                name: none
            proxy:
              disabled: true
          machine:
            features:
              kubePrism:
                enabled: true
                port: 7445
            kernel:
              modules:
                - name: drbd
                  parameters:
                    - usermode_helper=disabled
                - name: drbd_transport_tcp
                - name: nvidia
                - name: nvidia_uvm
                - name: nvidia_modeset
                - name: nvidia_drm
            sysctls:
              net.core.bpf_jit_harden: "1"
            install:
              image: factory.talos.dev/metal-installer/60b815d95e1e79a818edadfffafa3cf3e2dcab27c7e6bb4cd53ed4aa52f5df84:v1.12.4
            kubelet:
              extraArgs:
                rotate-server-certificates: true
            network:
              disableSearchDomain: true
              interfaces:
                - deviceSelector:
                    physical: true
                  dhcp: true
      generateType: join
      talosVersion: v1.12.4
